// Utilities :: Colours

@each $carbon-key, $carbon-value in $carbon-colors {

  $gradient-dark: darken($carbon-value, 15%);

  [class~="u-carbon-#{$carbon-key}-bg"] {
    background-color: $carbon-value;
    color: carbon-choose-contrast-color($carbon-value);
    
    // &[class~='o-swatch']:before {
    //   content: '#{$carbon-key}';
    //   text-transform: capitalize;
    // }
    
    &[class~='o-swatch']:after {
      content: '#{$carbon-value}';
    }

  }
  
  @for $i from 1 through $carbon-tones {
    $variant: $i * 5%;
    $carbon-tint: lighten($carbon-value, $variant);
    $carbon-shade: darken($carbon-value, $variant);
    [class~="u-carbon-#{$carbon-key}-bg--tint-#{$i}0"] {
      background-color: $carbon-tint;
      color: carbon-choose-contrast-color($carbon-value);
    }
    
    [class~="u-carbon-#{$carbon-key}-bg--tint-#{$i}0"]:after {
        content: '#{$carbon-tint}';
    }
    
    [class~="u-carbon-#{$carbon-key}-bg--shade-#{$i}0"] {
      background-color: $carbon-shade; 
      color: carbon-choose-contrast-color($carbon-value);
    }
    
    [class~="u-carbon-#{$carbon-key}-bg--shade-#{$i}0"]:after {
        content: '#{$carbon-shade}';
    }
  }
  
  [class~="u-carbon-#{$carbon-key}-gradient"] {
    @include carbon-linear-gradient(to right, $carbon-value, $gradient-dark);
    color: carbon-choose-contrast-color($carbon-value);

    // &[class~='o-swatch']:before {
    //   content: '#{$carbon-key} linear gradient';
    //   text-transform: capitalize;
    // }
    
    &[class~='o-swatch']:after {
      content: '#{$carbon-value} to #{$gradient-dark}';
      top: auto;
    }
  }
  
  [class~='u-carbon-#{$carbon-key}-colour'] {
    color: $carbon-value !important;
  }

}

// Can also call colours like below:
//
// .element {
//   color: carbon-color(primary);
// }
