.Header {
  background: black;
  a {
    background: black;
    color: white;
    display: block;
    font-size: 11px;
    opacity: .5;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
    
    &[class~="active"],
    &:hover {
      background: #222;
      opacity: 1;
    }
  }

}

[class~="u-sticky-top"] {
  position: sticky;
  top: 0;
  // left: 0;
  width: 100%;
}